sls-include/state-machine.yml
name: ecs-runtask-retry
definition:
  StartAt: RunECSTask
  States:
    RunECSTask:
      Type: Task
      Resource: "arn:aws:states:::ecs:runTask.sync"
      Parameters:
        LaunchType: FARGATE
        TaskDefinition:
          Ref: AppTaskDefinition
        NetworkConfiguration:
          AwsvpcConfiguration:
            AssignPublicIp: ENABLED
            Subnets:
              - ${opt:subnetId}
      End: true
      Catch:
        - ErrorEquals:
            - States.ALL
          ResultPath: "$.ECSTaskError"
          Next: ProcessError
    ProcessError:
      Type: Task
      Resource: { Fn::GetAtt: [processError, Arn] }
      ResultPath: "$.errorState"
      Next: ErrorStateChoice
    ErrorStateChoice:
      Type: Choice
      Choices:
      - Variable: "$.errorState.type"
        StringEquals: "RETRIABLE_ERROR"
        Next: RunECSTask
      - Variable: "$.errorState.type"
        StringEquals: "FATAL_ERROR"
        Next: "FatalError"
    FatalError:
      Type: Fail

